<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--The content below is only a placeholder and can be replaced.-->
<div class="bg">
    <div class="body">
        <div style="text-align:center">
            <!-- <h2> <button type="button" (click)=submitData()> Submit </button> </h2> -->
            <div class="row">
                <div id = "mapDisplay" class="column">
                    <agm-map [latitude]="centerlat" [longitude]="centerlon" [zoom]="16">
                        <agm-marker [openInfoWindow]="true" [latitude]="lat" [markerDraggable]="true" [longitude]="lon" (dragEnd)="markerMoved($event)">
                            <agm-info-window>
                                <strong>You are here!</strong>
                            </agm-info-window>
                        </agm-marker>
                        <agm-marker [openInfoWindow]="true"
                            iconUrl='http://maps.google.com/mapfiles/ms/icons/blue-dot.png' [hidden]="!markerSelected" [latitude]="newLat" [longitude]="newLon">
                            <agm-info-window>
                                <strong>You want to be here!</strong>
                            </agm-info-window>


                        </agm-marker>
                    </agm-map>
                </div>
                <div id = "roomsDisplay" class="column">

					<h1>USYD Room Finder</h1>
					<br>

                    <div *ngIf="dataSource !== undefined" class="myTable">
                        <div class="example-container mat-elevation-z8">
                            <div class="example-header">
                                <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>
                            </div>

                            <table mat-table #table [dataSource]="dataSource" matSort>

                                <!-- Position Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="dist">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
                                    <td mat-cell *matCellDef="let element"> {{element.dist}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="timeLeft">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Left </th>
                                    <td mat-cell *matCellDef="let element"> {{element.timeLeft}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="rank">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
                                    <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
                                </ng-container>



                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" 
                                              [ngClass]="{'highlight': this.selectedRowIndex == row.name}" 
                                              ></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
