.body {
    margin-left: 100px;
	margin-left: 0%;
    margin-top: 50px;
	margin-top: 0%;
    margin-bottom: 50px;
    font-family: 'Arial Black';
}

.bg {

}
h1{
	text-align: center; 
	margin-left: 110px; 
	margin-bottom: 50px; 
	font-size: 55px; 
	color: #17a2b8;
	text-shadow: 2px 2px gray;
}


agm-map {
    height: 800px;
}

.myTable {
    margin-left: 50px;
    width: 110%;
}
.mat-column {
    flex: 0 0 200px;
}
.mat-column-dist {
    flex: 0 0 200px;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.highlight {
    background-color: #add8e6;
}

.column {
    float: left;
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#roomsDisplay {
	margin-top: 5%;
}
#mapDisplay {
	width: 50%;
	height: 100%;
}

