.datepicker {
    text-align: left;
    width: 30%;
}

.column {
    float: left;
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
