<div class="datepicker"> 
    <div class="row">
        <div class="column">
            Start Datetime:
            <input type="time" [(ngModel)]="startDate">
        </div>
        <div class="column">
            End Datetime:

            <input type="time" [(ngModel)]="endDate">
        </div>
    </div>
</div>
